@model IEnumerable<Product>
<!doctype html>
<html lang="tr"> 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/E_Commerce_Theme/css/style.css" />
    <link rel="stylesheet" href="~/E_Commerce_Theme/css/fontawesome.css" />
    <link rel="stylesheet" href="~/E_Commerce_Theme/css/fontawesome.min.css" />
</head>

<body>
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12">
                <h3>İNDİRİMDE OLAN ÜRÜNLER</h3>
                <div class="card-deck mb-3">
                    @foreach (var item in Model)
                    {  
                    <div class="card">
                        <img src="~/@item.Image" class="card-img-top" alt="@item.Name" style="width:384px;">
                        <div class="card-body">
                            <a asp-action="UrunDetay" asp-controller="Home" asp-route-id="@item.Id">
                            <h5 class="card-title">@item.Name</h5> 
                        </div>
                        <div class="card-footer">
                            @if (@item.Discount > 0)
                                {
                                   <b style="color: rgb(145, 32, 69);" class="text-d">@item.DiscountedPrice.ToString("c")</b> <b style="text-decoration:line-through" class="text-muted">@item.Price.ToString("c")</b>
                                }
                                else{
                                     <b style="color: rgb(145, 32, 69);" class="text-muted">@item.Price.ToString("c")</b>
                               }
                        </div>
                    </div> 
                     }
                </div> 
            </div>
        </div>
    </div>
</body>
 
</html>